<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print</title>
</head>

<body>
    <h1>Print Finished Workout Plan</h1>

    <section>

        <label for="day1">Day 1</label>
        <div>
            <%=weekLayout.day1%>
        </div>
        <label for="day2">Day 2</label>
        <div>
            <%=weekLayout.day2%>
        </div>
        <label for="day3">Day 3</label>
        <div>
            <%=weekLayout.day3%>
        </div>
        <label for="day4">Day 4</label>
        <div>
            <%=weekLayout.day4%>
        </div>
        <label for="day5">Day 5</label>
        <div>
            <%=weekLayout.day5%>
        </div>
        <label for="day6">Day 6</label>
        <div>
            <%=weekLayout.day6%>
        </div>
        <label for="day7">Day 7</label>
        <div>
            <%=weekLayout.day7%>
        </div>
    </section>
    <br>

    <% if (weekLayout.name==='threeX' ) { %>
        <section>
            <div>
                <%=workout.legsMain%> 3 sets of 6-8 reps
            </div>
            <div>
                <%=workout.chestMain%> 3 sets of 6-8 reps
            </div>
            <div>
                <%=workout.backMain%> 3 sets of 6-8 reps
            </div>
            <div>
                <%=workout.shoulderMain%> 3 sets of 6-8 reps
            </div>
            <div>
                <%=workout.legsSecond%> 3 sets of 6-8 reps
            </div>
            <div>
                <%=workout.chestSecond%> 3 sets of 6-8 reps
            </div>
            <div>
                <%=workout.backSecond%> 3 sets of 6-8 reps
            </div>
            <div>
                <%=workout.accessory[0]%> 3 sets of 8-12 reps
            </div>
            <div>
                <%=workout.accessory[1]%> 3 sets of 8-12 reps
            </div>
            <div>
                <%=workout.abs%> 3 sets of 8-12 reps
            </div>
        </section>
        <%}%>

            <% if (weekLayout.name==='fourX' ) { %>
                <section>
                    <h2>Upper Body</h2>
                    <div>
                        <%=workout.chestMain%> 3 sets of 6-8 reps
                    </div>
                    <div>
                        <%=workout.backMain%> 3 sets of 6-8 reps
                    </div>
                    <div>
                        <%=workout.shoulderMain%> 3 sets of 6-8 reps
                    </div>
                    <div>
                        <%=workout.chestSecond%> 3 sets of 6-8 reps
                    </div>
                    <div>
                        <%=workout.backSecond%> 3 sets of 6-8 reps
                    </div>
                    <div>
                        <%=workout.accessory[0]%> 3 sets of 8-12 reps
                    </div>
                    <div>
                        <%=workout.accessory[1]%> 3 sets of 8-12 reps
                    </div>
                    <div>
                        <%=workout.abs%> 3 sets of 8-12 reps
                    </div>
                    <h2>Lower Body</h2>
                    <div>
                        <%=workout.legsMain%> 3 sets of 6-8 reps
                    </div>
                    <div>
                        <%=workout.legsSecond%> 3 sets of 6-8 reps
                    </div>
                    <div>
                        <%=workout.accessory2[0]%> 3 sets of 8-12 reps
                    </div>
                    <div>
                        <%=workout.accessory2[1]%> 3 sets of 8-12 reps
                    </div>
                    <div>
                        <%=workout.abs2%> 3 sets of 8-12 reps
                    </div>
                </section>
                <%}%>

                    <% if (weekLayout.name==='sixX' ) { %>
                        <section>
                            <h2>Push</h2>
                            <div>
                                <%=workout.chestMain%> 3 sets of 6-8 reps
                            </div>
                            <div>
                                <%=workout.shoulderMain%> 3 sets of 6-8 reps
                            </div>
                            <div>
                                <%=workout.chestSecond%> 3 sets of 6-8 reps
                            </div>
                            <div>
                                <%=workout.accessory[0]%> 3 sets of 8-12 reps
                            </div>
                            <div>
                                <%=workout.accessory[1]%> 3 sets of 8-12 reps
                            </div>
                            <div>
                                <%=workout.abs%> 3 sets of 8-12 reps
                            </div>
                            <h2>Pull</h2>
                            <div>
                                <%=workout.backMain%> 3 sets of 6-8 reps
                            </div>
                            <div>
                                <%=workout.backSecond%> 3 sets of 6-8 reps
                            </div>
                            <div>
                                <%=workout.accessory2[0]%> 3 sets of 8-12 reps
                            </div>
                            <div>
                                <%=workout.accessory2[1]%> 3 sets of 8-12 reps
                            </div>
                            <h2>Legs</h2>
                            <div>
                                <%=workout.legsMain%> 3 sets of 6-8 reps
                            </div>
                            <div>
                                <%=workout.legsSecond%> 3 sets of 6-8 reps
                            </div>
                            <div>
                                <%=workout.accessory3[0]%> 3 sets of 8-12 reps
                            </div>
                            <div>
                                <%=workout.accessory3[1]%> 3 sets of 8-12 reps
                            </div>
                            <div>
                                <%=workout.abs2%> 3 sets of 8-12 reps
                            </div>
                        </section>
                        <%}%>


</body>

</html>